/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding: 0 24px;
  font-family: ABeeZee, sans-serif;
}

a, a:visited, a:active {
  color: #184D68;
  text-decoration: none;
}

h1 a, h1 a:visited, h1 a:active {
  color: #D55121;
  font-size: 20px;
  line-height: 30px;
}

h2 {
  font-size: 22px;
  line-height: 33px;
  font-weight: normal;
  color: #666;
}

ul.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #666;
}

ul.posts li {
  margin: 10px 0;
}

ul.posts li span {
  font-size: 10px;
  color: #999;
  white-space: nowrap;
}

code {
  font-family: Source Code Pro, monospace;
  font-size: 14px;
  line-height: 18px;
}

pre {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background: #eee;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0 auto;
    width: 720px;
  }
}

