/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/* web icons */
.fc-webicon { display: inline-block; background-size: 100%; width: 30px; height: 30px; text-indent: -999em; text-align: left; -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); box-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; margin-bottom: 5px; }
.fc-webicon:hover { margin: -1px 0 1px; -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25); }

/* Github */
.no-svg .fc-webicon.github { background: url("/images/fc-webicon-github-m.png"); }
.svg .fc-webicon.github { background: url("/images/fc-webicon-github.svg"); }

/* LinkedIn */
.no-svg .fc-webicon.linkedin { background: url("/images/fc-webicon-linkedin-m.png"); }
.svg .fc-webicon.linkedin { background: url("/images/fc-webicon-linkedin.svg"); }

/* Mail */
.no-svg .fc-webicon.mail { background: url("/images/fc-webicon-mail-m.png"); }
.svg .fc-webicon.mail { background: url("/images/fc-webicon-mail.svg"); }

/* Twitter */
.no-svg .fc-webicon.twitter { background: url("/images/fc-webicon-twitter-m.png"); }
.svg .fc-webicon.twitter { background: url("/images/fc-webicon-twitter.svg"); }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
  padding: 0 24px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
  font-family: ABeeZee, sans-serif;
}

a, a:visited, a:active {
  color: #184D68;
  text-decoration: none;
}

h1 {
  font-size: 20px;
  line-height: 28px;
  margin: 0.67em 0 0 0;
}

h1 a, h1 a:visited, h1 a:active {
  color: #D55121;
}

.tagline {
  font-size: 14px;
  line-height: 22px;
  color: #888;
}

.social {
  margin: 10px 0;
}

article > footer:before {
  content: "~";
  font-size: 60px;
  line-height: 30px;
  text-align: center;
  display: block;
  color: #aaa;
  margin: 0;
  padding: 0;
}

article a, article a:visited, article a:active {
  color: #D55121;
}

article img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

article time {
  font-size: 14px;
  color: #aaa;
  line-height: 20px;
}

body > footer {
  /* border-top: 1px solid #aaa; */
  padding: 1em 0;
  margin-top: 2em;
}

body > footer p {
  font-size: 12px;
  line-height: 30px;
  padding: 0;
  margin: 0;
  color: #ccc;
}

h2 {
  font-size: 22px;
  line-height: 33px;
  font-weight: normal;
  color: #666;
  border-bottom: 1px solid #aaa;
}

h3 {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  margin: 1em 0;
}

ul.posts {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #666;
}

ul.posts li {
  margin: 10px 0;
}

ul.posts li span {
  font-size: 10px;
  color: #999;
  white-space: nowrap;
}

code {
  font-family: Source Code Pro, monospace;
  font-size: 14px;
  line-height: 18px;
}

pre {
  padding: 10px 20px;
  border: 1px solid #ddd;
  background: #eee;
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}

@media only screen and (min-width: 768px) {
  body {
    margin: 0 auto;
    width: 720px;
  }
  body > header {
    height: 60px;
  }
  body > header h1 {
    float: left;
    line-height: 40px;
    margin: 15px 10px 5px 0;
  }
  body > header .tagline {
    float: left;
    line-height: 32px;
    margin: 20px 10px 0 0;
  }
  body > header .social {
    float: right;
    margin: 12px 0 5px 0;
  }
}
.hll { background-color: #ffffcc }
.c { color: #408080; font-style: italic } /* Comment */
.err { border: 1px solid #FF0000 } /* Error */
.k { color: #008000; font-weight: bold } /* Keyword */
.o { color: #666666 } /* Operator */
.cm { color: #408080; font-style: italic } /* Comment.Multiline */
.cp { color: #BC7A00 } /* Comment.Preproc */
.c1 { color: #408080; font-style: italic } /* Comment.Single */
.cs { color: #408080; font-style: italic } /* Comment.Special */
.gd { color: #A00000 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #FF0000 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #00A000 } /* Generic.Inserted */
.go { color: #808080 } /* Generic.Output */
.gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #0040D0 } /* Generic.Traceback */
.kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #008000 } /* Keyword.Pseudo */
.kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #B00040 } /* Keyword.Type */
.m { color: #666666 } /* Literal.Number */
.s { color: #BA2121 } /* Literal.String */
.na { color: #7D9029 } /* Name.Attribute */
.nb { color: #008000 } /* Name.Builtin */
.nc { color: #0000FF; font-weight: bold } /* Name.Class */
.no { color: #880000 } /* Name.Constant */
.nd { color: #AA22FF } /* Name.Decorator */
.ni { color: #999999; font-weight: bold } /* Name.Entity */
.ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.nf { color: #0000FF } /* Name.Function */
.nl { color: #A0A000 } /* Name.Label */
.nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.nt { color: #008000; font-weight: bold } /* Name.Tag */
.nv { color: #19177C } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #666666 } /* Literal.Number.Float */
.mh { color: #666666 } /* Literal.Number.Hex */
.mi { color: #666666 } /* Literal.Number.Integer */
.mo { color: #666666 } /* Literal.Number.Oct */
.sb { color: #BA2121 } /* Literal.String.Backtick */
.sc { color: #BA2121 } /* Literal.String.Char */
.sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.s2 { color: #BA2121 } /* Literal.String.Double */
.se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.sh { color: #BA2121 } /* Literal.String.Heredoc */
.si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #008000 } /* Literal.String.Other */
.sr { color: #BB6688 } /* Literal.String.Regex */
.s1 { color: #BA2121 } /* Literal.String.Single */
.ss { color: #19177C } /* Literal.String.Symbol */
.bp { color: #008000 } /* Name.Builtin.Pseudo */
.vc { color: #19177C } /* Name.Variable.Class */
.vg { color: #19177C } /* Name.Variable.Global */
.vi { color: #19177C } /* Name.Variable.Instance */
.il { color: #666666 } /* Literal.Number.Integer.Long */
